/* styles.css */
body {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  position: absolute;
  height: 100vh;
  width: 425px;
  height: 484px;
  background: rgba(10, 61, 7, 0.9);
  
}

ul {
  list-style: none;
  padding: 0;
}

li {
  cursor: pointer;
  margin: 0.5rem 0;
}

/* Keep Playlist Hidden */
.hidden {
  display: none;
}

/* Holds Song Titles & Artists */
.title-rectangle {
  position: absolute;
  width: 80%;
  height: 9%;
  background: #65AE6C;
  border-radius: 20px;
  
  top: 9%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  justify-content: center;
  align-items: center;
  
  z-index: 1;
}

.play-pause-btn {
  position: relative;
  width: 66px;
  height: 65px;
  top: 74%;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
  z-index: 2;
}

/* Hover effect for Play/Pause button */
.play-pause-btn:hover {
  background: transparent;
  transform: scale(1.05);
}

/* Active effect for Play/Pause button */
.play-pause-btn:active {
  background: transparent;
  transform: scale(0.98);
}

.icon-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.icon-wrapper img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.next-song-btn {
  position: relative;
  width: 56px;
  height: 38px;
  top: 63%;
  left: 20%;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
}

.next-song-btn img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* Hover effect for Next button */
.next-song-btn:hover {
  background: transparent;
  transform: scale(1.05);
}

/* Active effect for Next button */
.next-song-btn:active {
  background: transparent;
  transform: scale(0.98);
}

.back-song-btn {
  position: relative;
  width: 56px;
  height: 38px;
  top: 55%;
  left: -20%;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
  
}

.back-song-btn img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* Hover effect for Back button */
.back-song-btn:hover {
  background: transparent;
  transform: scale(1.05);
}

/* Active effect for Back button */
.back-song-btn:active {
  background: transparent;
  transform: scale(0.98);
}


@font-face {
  font-family: Trispace;
  src: url(font/Trispace-Thin.ttf);
}

#song-title {
  font-family: Trispace;
  color: white;
  font-size: 18px;
  z-index: 2;
}

#progress-bar {
  width: 50%;
  height: 10px;
  border-radius: 5px;
  background: linear-gradient(to right, pink 0%, white 0%);
  outline: none;
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  position: absolute;
  top: 81.5%;
}

#progress-bar::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: pink;
  cursor: pointer;
  margin-top: -1px;
  border: none;
}

#time-start {
  font-family: Trispace;
  font-size: 14px;
  color: white;
  position: absolute;
  top: 81.7%;
  left: 16%;
}

#time-end {
  font-family: Trispace;
  font-size: 14px;
  color: white;
  position: absolute;
  top: 81.7%;
  left: 77%;
}

/* Playlist toggle button specific styles */
#toggle-playlist {
  font-family: Trispace;
  color: white;
  font-size: 16px;
  padding: 8px 15px;
  background: #65AE6C;
  border: none;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  position: absolute;
  top: 98%;
}

/* Hover effect for Playlist button*/
#toggle-playlist:hover {
  background: #65AE6C;
  transform: scale(1.05);
}

/* Active effect for Playlist button */
#toggle-playlist:active {
  background: #65AE6C;
  transform: scale(0.98);
}